body {
    font-family: 'Outfit', sans-serif;
    background-color:hsl(212, 45%, 89%);
    color: hsl(218, 44%, 22%);
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin: 0;
    width: 100%; 
}

.container {
    background-color: hsl(0, 0%, 100%);
    padding: 16px; 
    border-radius: 20px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
    text-align: center;
    width: 90%;
    max-width: 375px; 
}

img {
    width: 100%; 
    max-width: 320px;
    height: auto;
    border-radius: 10px;
}

h1 {
    font-weight: 700;
    margin: 16px 0 8px 0;
}

p {
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: hsl(216, 15%, 48%);
    margin-top: 0;
}
